body {
    background-color: #0D0D0D;
    height: 100vh;
    overflow: hidden;
}

li {
    cursor: pointer;
}

i,
.items {
    cursor: pointer;
}

.nav-tab {
    background-color: #0D0D0D;
}

.logo {
    width: 50px;
}

i {
    cursor: pointer;
}

.meal-layer {
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
}

.meal:hover .meal-layer {
    top: 0;
}

.side-nav-menu {
    z-index: 99;
}

/* //////////////////home///////////////// */
.items {
    transition: all 1s;
    overflow: hidden;
}

.items img {
    border-radius: 3%;
}

.layer {
    position: absolute;
    background-color: #f9f6f6ca;
    width: 100%;
    height: 100%;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3%;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: .4s;
}

.items:hover .layer {

    top: 0;
}

.nav-tab {
    display: none;
}

.items-category {
    cursor: pointer;
}

.img-category {
    border-radius: 3%;
}

.layer-category {
    position: absolute;
    background-color: #f9f6f6ca;
    width: 100%;
    height: 100%;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3%;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: .4s;
}

.items-category {
    overflow: hidden;
}

.items-category:hover .layer-category {
    top: 0;
}

.items-area {
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.layerIngr {
    position: absolute;
    background-color: #f9f6f6ca;
    width: 100%;
    height: 100%;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3%;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: .4s;
}

.item-ingr {
    overflow: hidden;
    border-radius: 3%;
    cursor: pointer;
}

.item-ingr:hover .layerIngr {
    top: 0;
}

.ittems-ingtid {
    cursor: pointer;
}

.contact {
    margin-top: 150px;
}
.spinner {
    margin: 300px auto;
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .cube1, .cube2 {
    background-color: #da2121;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }
  
  .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  @-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes sk-cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }